body {
    padding-top: 50px;
}
br
{
    content: " " !important;
    display: block !important;
    margin:25px;
}
.vertgap
{
    display: inline-block;
    height: 150px;
}
.smalltext
{
    font-size:small;
}