@(form: play.data.Form[AnimalForm])

@main {

    <script src="@routes.Assets.at("javascripts/animals.js")" type="text/javascript"></script>

    @if(form.hasGlobalErrors){
        <div class="alert alert-danger">
            <p class="small">
                <span class="error">@Messages(form.globalError.message)</span>
            </p>
        </div>
    }

    @helper.form(action = routes.Animals.addAnimal()) {
        @helper.select(
                form("barnId"), Seq.empty,
                'id -> "barnsSelect", '_showConstraints -> false, '_label -> "Select a Barn:")
        @helper.inputText(form("name"), '_label -> "Animal Name", 'placeholder -> "ie. Donkey, Goat, etc", 'id -> "nameInput")
        @helper.inputText(form("quantity"), '_label -> "Quantity (any number > 0)", 'id -> "quantityInput")
        <div id="submitDiv">
            <input id="animalSubmitButton" type="submit"/>
        </div>
    }

}
