@(form: play.data.Form[BarnForm])

@main {
    <script type="text/javascript">
      $( document ).ready(function() {
        $('input[id=nameInput]').focus();
      });
    </script>

    @if(form.hasGlobalErrors){
        <div class="alert alert-danger">
            <p class="small">
                <span class="error">@Messages(form.globalError.message)</span>
            </p>
        </div>
    }

    @helper.form(action = routes.Barns.addBarn) {
        @helper.inputText(form("name"), '_label -> "Enter name of new Barn:", 'id -> "nameInput")
        <input type="submit"/>
    }

}