@(barns: SortedSet[Barn], totalValue: Long)
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main {
  <br />
  <div class="container" align="left">
     <table class="table table-bordered">
        <tr>
          <th>Barn</th>
          <th>Animals</th>
        </tr>

    @for(barn <- barns.iterator) {
        <tr>
            <td>@barn.getName()</td>
            <td>@barn.getAnimalsAsString()</td>
        </tr>
    }

     </table>

     <script type="text/javascript">
       // Correctly format the barn valuation number as money.
       $(document).ready(function() {
          var totVal = new Intl.NumberFormat().format(@totalValue);
          $("#valuationLabel").text("Total Valuation of all Barns: $" + totVal + ".00");
       });
     </script>
     <label id="valuationLabel"></label>
  </div>

}
