@(barns: Set[Barn], totalValue: Long)
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main {

  <div class="container" align="left">
     <table class="table table-bordered">
        <tr>
          <th>Barn</th>
          <th>Animals</th>
        </tr>

    @for(barn <- barns){
        <tr>
            <td> @barn.getName() </td>
            <td> @barn.getAnimalsAsString() </td>
          </tr>
    }

    <label id="valuationLabel">Total Valuation of all Barns: @totalValue</label>

      </table>
  </div>



}
