@(title: String, barns: Set[Barn])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Farm Empire") {

    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>

  <div class="container">
     <table class="table table-bordered">
        <tr>
          <th>Barn</th>
          <th>Animals</th>
        </tr>

    @for(barn <- barns){
        <tr>
            <td> @barn.getName() </td>
            <td> <i>Todo - list of animals</i> </td>
          </tr>
    }

      </table>
  </div>
}
